/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general settings */
.container{
    width: 70%;
    margin: auto;
}
.top, .bot{
    background-color: lightgray;
    width: 60px;
    height: 20px;
    position: absolute;
}
.top{
    top: -10px;
    left: 10%;
}
.bot{
    bottom: -10px;
    right: 10%;
}
/* header */
header{
    text-align: center;
    padding: 2rem 0 2rem 0;
}
/* main */
.es-contaier{
    background-color: lightgray;
    padding: 20px;
    border: 1px solid gray;
    margin: .5rem 0 1rem 0;
    box-shadow: 0px 1px 5px gray inset;
}
.es h2{
    margin-top: 50px;
}
/* es1  */
.square-es1{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.square-es1:hover{
    transition: 2s;
    background-color: red;
}
/* es2 */
.square-es2{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}
.square-es2:active{
    width: 100%;
}
/* es3 */
.square-es3{
    width: 100px;
    height: 100px;
    background-color: red;
}
.square-es3:hover{
    transition: 1s;
    border-radius: 50%;
}
/* es4 */
.square-es4{
    width: 100px;
    height: 100px;
    background-color: red;
}
.square-es4:hover{
    transition: 1s;
    background-color: transparent;
}
/* es5 */
.square-es5{
    width: 50px;
    height: 50px;
    background-color: red;
    transition: 2s;
}
.square-es5:hover {
    transform: scale(1.5);
}
.square-es5:active {
    transform: scale(.5);
}
/* es6  */
.plane-img{
    width: 500px;
}
.plane-img:hover{
    filter: grayscale(100%);
}
/*es7*/
.plane-img-7{
    width: 500px;
    transition: 2s;
}
.plane-img-7:hover{
    filter: grayscale(100%);
}
/* es8 */
.img-8{
    width: 500px;
    transition: 2s;
}
.img-8:hover{
    border-radius: 20px;
    filter: saturate(5);
}
/* es9 */
.img-9{
    width: 500px;
    transition: 2s;
    transform: scale(0.5);
}
.img-9:hover{
    border-radius: 20px;
    filter: saturate(5);
    transform: scale(1);
}
/* es10 */
.icon10 i{
    font-size: 4rem;
    animation-name: rolling;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
/* es11 */
.icon11 i{
    font-size: 4rem;
}
.icon11 i:hover{
    animation-name: rolling;
    animation-iteration-count: 1rurn;
    animation-timing-function: linear;
    animation-duration: 1s;
}
/* es12 */
.rotation12{
    font-size: 2rem;
    text-align: center;
    width: 200px;
    padding: 1rem;
    text-transform: uppercase;
    border: 2px solid black;
    position: relative;
}
.rotation12:hover .top{
    animation: moveTopWhite 2s linear;
}
.rotation12:hover .bot{
    animation: moveBottomWhite 2s linear;
}
/* es13 */
.rotation13{
    font-size: 2rem;
    text-align: center;
    width: 200px;
    padding: 1rem;
    text-transform: uppercase;
    border: 2px solid black;
    position: relative;
}
.rotation13:hover .top{
    animation: moveTopWhiteC 2s linear;
}
.rotation13:hover .bot{
    animation: moveBottomWhiteC 2s linear;
}
/* keyframes */
@keyframes rolling{
    0%{
        transform: rotate(1turn);
    }
}
@keyframes moveTopWhite {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
@keyframes moveBottomWhite {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}
@keyframes moveTopWhiteC {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
@keyframes moveBottomWhiteC {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}