/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general settings */
.container{
    width: 70%;
    margin: auto;
}
/* header */
header{
    text-align: center;
    padding: 2rem 0 2rem 0;
}
/* main */
.es-contaier{
    background-color: lightgray;
    padding: 20px;
    border: 1px solid gray;
    margin: .5rem 0 1rem 0;
    box-shadow: 0px 1px 5px gray inset;
}
.es h2{
    margin-top: 50px;
}
/* es1  */
.square-es1{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.square-es1:hover{
    transition: 2s;
    background-color: red;
}
/* es2 */
.square-es2{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}
.square-es2:active{
    width: 100%;
}
/* es3 */
.square-es3{
    width: 100px;
    height: 100px;
    background-color: red;
}
.square-es3:hover{
    transition: 1s;
    border-radius: 50%;
}
/* es4 */
.square-es4{
    width: 100px;
    height: 100px;
    background-color: red;
}
.square-es4:hover{
    transition: 1s;
    background-color: transparent;
}
/* es5 */
.square-es5{
    width: 50px;
    height: 50px;
    background-color: red;
    transition: 2s;
}
.square-es5:hover {
    transform: scale(1.5);
}
.square-es5:active {
    transform: scale(.5);
}
/* es6  */
.plane-img{
    width: 500px;
}
.plane-img:hover{
    filter: grayscale(100%);
}
/*es7*/
.plane-img-7{
    width: 500px;
    transition: 2s;
}
.plane-img-7:hover{
    filter: grayscale(100%);
}
/* es8 */
.img-8{
    width: 500px;
    transition: 2s;
}
.img-8:hover{
    border-radius: 20px;
    filter: saturate(5);
}
/* es9 */
.img-9{
    width: 500px;
    transition: 2s;
    transform: scale(0.5);
}
.img-9:hover{
    border-radius: 20px;
    filter: saturate(5);
    transform: scale(1);
}
/* es10 */
.icon i{
    font-size: 4rem;
    animation-name: rolling;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
/* keyframes */
@keyframes rolling{
    0%{
        transform: rotate(1turn);
    }
}